/* CSS VARIABLES */
:root {
    --backgroound-color: dodgerblue;
}
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.container   {
    display: block;
}

ul li {
    display: flex;
    flex-direction: row;
    /* trbl */

    margin-left: 10px;
    
}

ul li:hover {
    border: 1px solid var(--backgroound-color);
    background-color: var(--backgroound-color);
    padding: 10px;
}

@media screen and (min-width: 768px){
    .container {
        display: flex;
        justify-content: space-around;
    }
    ul li {
        display: inline;
      
        /* trbl */
    
        margin-left: 10px;
        
    }
}

/* HERO SECTION STYLE STARTS HERE */
.hero  {
    text-align: center;
    font-size: 40px;
}
.hero button {
    padding: 10px;
    background-color: var(--backgroound-color);
    border-radius: 10px;
    border: none;
    color: #fff;
}

.service {
    border: 1px solid var(--backgroound-color);
    padding: 10px;
    margin-bottom: 10px;
}

.service:hover{
    background-color: var(--backgroound-color);
    color: #fff;
}
@media screen and (min-width: 768px){
    .services {
        display: flex;
        
    }
    .service {
        margin-right: 10px;
    }
}

